<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- DataSource Configuration -->
	<bean id="mysqlDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value='com.mysql.cj.jdbc.Driver' />
		<property name="url"
			value='jdbc:mysql:///ineuron' />
		<property name="username" value='root' />
		<property name="password" value='root@123' />
	</bean>


	<!-- DAO Configuration -->
	<bean id='mysqlDaoImpl' class='in.ineuron.dao.CustomerMySQLDAOImp'>
		<constructor-arg name='dataSource' ref='mysqlDataSource' />
	</bean>

	<!-- Service Configuration -->
	<bean id='serviceImpl' class='in.ineuron.service.CustomerMgmtServiceImpl'>
		<constructor-arg name='dao' ref='mysqlDaoImpl'/>
	</bean>
	
	<!-- Controller Configuration -->
	<bean id='controller' class='in.ineuron.controller.CustomerController'>
		<constructor-arg name='service' ref='serviceImpl'/>
	</bean>
	
</beans>


