<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Configuring the DEPENDENT Component -->
    <bean id="dt" class="java.util.Date"/>  
        

	<!-- Configuring the Target Component -->
    <bean id="wishMessageGenerator" class="in.ineuron.comp.WishMessageGenerator">
    	<property name="date" ref="dt"/>
    </bean>
    
    <alias name="wishMessageGenerator" alias="wmg"/>

</beans>