<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="firstYear" class="in.ineuron.comp.EnggCourse" abstract="true">
		<property name="subjects">
			<set>
				<value>M1</value>
				<value>CAD</value>
				<value>Chemistry</value>
			</set>
		</property>
	</bean>
	
	<bean id="CS" class="in.ineuron.comp.EnggCourse" parent="firstYear">
		<property name="subjects">
			<set merge="true">
				<value>DS</value>
				<value>M3</value>
				<value>C++</value>
			</set>
		</property>
	</bean>

</beans>